<header class="header__container">
  <div class="logo">
    <img [src]="logoUrl" [alt]="logoAlt" class="logo__img">
  </div>
  <nav class="nav">
    <ul class="nav__items">
      @for (elem of navData; track $index) {
      <li class="nav__item" (click)="openClose($index)">
        <p>{{ elem.value  }}</p>
        <drop-arrows-icon [isOpened]="elem.isOpened"></drop-arrows-icon>
        @if (elem.isOpened) {
          <div class="drop-down-menu">
           <ul class="drop-down-menu__items">
            @for (item of elem.subMenu; track $index) {
            <li class="drop-down-menu__item" >
              {{item}}
            </li>
          }
           </ul>
          </div>
        }
      </li>
      }
      <li class="nav__item" >
        <a href="#">Форум</a>
      </li>
    </ul>
  </nav>
  <p class="lang">
    <span
      class="lang__en"
      [ngClass]="{'lang__en__active': isEnActive}"
      (click)="currentLang('en')"
      >
        EN
      </span>
      /
      <span
        class="lang__ua"
        [ngClass]="{'lang__ua__active': isUaActive}"
        (click)="currentLang('ua')"
        >
          UA
        </span>
      </p>
</header>
