@use "../../../scss/functions/px-to-rem";
@use "../../../scss/lib/typography/fonts";



.logo {

  padding-left: px-to-rem.px-to-rem(61);
  padding-top: px-to-rem.px-to-rem(25);


  &__img {
    width: px-to-rem.px-to-rem(148);
    height: px-to-rem.px-to-rem(83);
  }
}

.nav {
  padding-left: px-to-rem.px-to-rem(114);
  padding-top: px-to-rem.px-to-rem(25);
  width: 60%;

  &__items {
    display: flex;
    justify-content: space-between;

  }

  &__item {
    font-size: px-to-rem.px-to-rem(24);
    font-family: fonts.$font-releway-regular;
  }
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: px-to-rem.px-to-rem(1440);
}


.lang {
  padding-left: px-to-rem.px-to-rem(179);
  padding-top: px-to-rem.px-to-rem(25);
  padding-right: px-to-rem.px-to-rem(105);
  font-size: px-to-rem.px-to-rem(20);
    font-family: fonts.$font-releway-regular;
    line-height: px-to-rem.px-to-rem(23.48);
}
