<!-- Fonts -->

<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap"
  rel="stylesheet"
/>
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap"
  rel="stylesheet"
/>

<!-- Layout -->

<div class="wrapper">
  <app-block-can-save [style]="'margin-top: 51px;'"></app-block-can-save>
  <div class="heart">
    <div class="heart__title">Волонтери – серце нашого проєкту</div>
    <div class="heart__method">
      <img class="heart__number" src="/assets/img/number-1.png" alt="1" />
      <div class="heart__title-small">Догляд за тваринами</div>
      <div class="heart__description">
        Волонтери допомагають годувати, доглядати за тваринами, що перебувають у
        притулках, та піклуватися про їхнє здоров'я.
      </div>
    </div>
    <div class="heart__method">
      <img class="heart__number" src="/assets/img/number-2.png" alt="2" />
      <div class="heart__title-small">Рятувальні операції</div>
      <div class="heart__description">
        Якщо ти готовий до активної участі, ти можеш приєднатися до команд, які
        займаються пошуком і порятунком тварин у кризових зонах.
      </div>
    </div>
    <div class="heart__center">
      <img
        class="heart__arrow"
        src="/assets/img/arrow-2.png"
        alt="arrow towards left"
      />
      <img
        class="heart__arrow"
        src="/assets/img/arrow-2.png"
        alt="arrow towards right"
      />
      <div class="heart__title-2">Як ти можеш допомогти</div>
      <img
        class="heart__arrow"
        src="/assets/img/arrow-1.png"
        alt="arrow towards bottom"
      />
    </div>
    <div class="heart__method-container">
      <div class="heart__method">
        <img class="heart__number" src="/assets/img/number-3.png" alt="3" />
        <div class="heart__title-small">Організація заходів</div>
        <div class="heart__description">
          Допомога в проведенні благодійних заходів, ярмарків та акцій для збору
          коштів і підвищення обізнаності про проєкт
        </div>
      </div>
    </div>
  </div>
  <div class="why">
    <div class="why__paws">
      <img class="why__paw" src="/assets/img/paw.png" alt="pet's paw" />
      <img class="why__paw" src="/assets/img/paw.png" alt="pet's paw" />
      <img class="why__paw" src="/assets/img/paw.png" alt="pet's paw" />
      <img class="why__paw" src="/assets/img/paw.png" alt="pet's paw" />
      <img class="why__paw" src="/assets/img/paw.png" alt="pet's paw" />
      <img class="why__paw" src="/assets/img/paw.png" alt="pet's paw" />
      <img class="why__paw" src="/assets/img/paw.png" alt="pet's paw" />
      <img class="why__paw" src="/assets/img/paw.png" alt="pet's paw" />
    </div>
    <div class="why__title">Чому варто стати волонтером?</div>
    <div class="why__reasons">
      <div class="why__reason">
        <p class="why__text">Внесок у порятунок тварин</p>
      </div>
      <div class="why__reason">
        <p class="why__text">Спільнота однодумців</p>
      </div>
      <div class="why__reason">
        <p class="why__text">Нові навички та досвід</p>
      </div>
      <div class="why__reason">
        <p class="why__text">Емоційне задоволення</p>
      </div>
    </div>
  </div>
  <app-block-join-team [style]="'margin-bottom: 87px;'"></app-block-join-team>
</div>
