<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap"
  rel="stylesheet"
/>
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap"
  rel="stylesheet"
/>

<div class="wrapper">
  <div class="head">
    <div class="head__big-image">
      <img
        src="../../../assets/img/dog-1.png"
        alt="dog"
        class="head__big-img"
      />
    </div>
    <div class="head__thread">
      <img
        src="../../../assets/img/thread-brown.png"
        alt="thread"
        class="head__thread-img"
      />
    </div>
    <div class="head__frame">
      <img
        src="../../../assets/img/thread-pink-frame.png"
        alt="freame"
        class="head__frame-img"
      />
    </div>
    <div class="head__line">
      <img
        src="../../../assets/img/brown-line.png"
        alt="line"
        class="head__line-img"
      />
    </div>
    <div class="head__title">
      Давайте <span>разом</span> рятувати життя тварин, постраждалих від війни
    </div>
    <div class="head__button">
      <button class="head__btn">Допомогти тваринам</button>
    </div>
    <div class="head__small-image">
      <img
        src="../../../assets/img/dog-2.png"
        alt="dog"
        class="head__small-img"
      />
    </div>
    <div class="head__small-frame">
      <img
        src="../../../assets/img/thread-orange-frame.png"
        alt="freame"
        class="head__small-frame__img"
      />
    </div>
  </div>
  <div class="support">
    <div class="support__block">
      <div class="support__title">Підтримайте організацію</div>
      <div class="support__text">
        Для досягнення наших цілей у підтримці, евакуації тварин, нам потрібна
        Ваша допомога
      </div>
      <button class="support__button">Надати допомогу</button>
    </div>
    <div class="support__image">
      <img
        src="../../../assets/img/exclamation-mark.png"
        alt="exclamation"
        class="support__img"
      />
    </div>
    <div class="support__block">
      <div class="support__title">Потрібна допомога?</div>
      <div class="support__text">
        Якщо Вам потрібна допомога, ми будем раді Вам допомогти
      </div>
      <button class="support__button">Отримати допомогу</button>
    </div>
  </div>
  <div class="aboutUs">
    <div class="aboutUs__thread">
      <img
        src="../../../assets/img/thread-orange.png"
        alt="thread"
        class="aboutUs__thread-img"
      />
    </div>
    <div class="aboutUs__title">Про нас</div>
    <div class="aboutUs__sub-text">
      Наша місія – дати другий шанс кожній тварині та повернути її до безпечного
      й люблячого середовища.
    </div>
    <div class="aboutUs__items">
      <div class="aboutUs__image-first">
        <img
          src="../../../assets/img/cowered-dog-nose.png"
          alt="icon"
          class="aboutUs__img-first"
        />
      </div>
      <div class="aboutUs__text">
        Ми організовуємо рятувальні операції, надаємо ветеринарну допомогу,
        тимчасовий притулок та допомагаємо знайти нові домівки для покинутих
        тварин. Об'єднуючи волонтерів, донорів і небайдужих людей, ми створюємо
        краще майбутнє для тих, хто не може захистити себе сам.
      </div>
      <button class="aboutUs__image-second">
        <img
          src="../../../assets/img/show-more-green.png"
          alt="button"
          class="aboutUs__img-second"
        />
      </button>
    </div>
  </div>
  <app-block-join-team></app-block-join-team>
  <div class="opperations">
    <div class="opperations__info">
      <div class="opperations__title">Рятувальні операції</div>
      <app-orange-dot-partion></app-orange-dot-partion>
    </div>
    <div class="opperations__swiper">
      <div class="opperations__swiper-arrow">
        <button class="opperations__swiper-button">
          <img src="../../../../assets/img/orange-arrow-1.png" alt="arrow" />
        </button>
      </div>
      <div class="opperations__swiper-blocks">
        <div class="opperations__swiper-top">
          <div class="opperations__swiper-image">
            <img
              src="../../../assets/img/dog-3.png"
              alt="pet"
              class="opperations__swiper-img"
            />
          </div>
          <div class="opperations__swiper-info">
            <div class="opperations__swiper-title">
              Це Лорд, якого вивезли з Донеччини
            </div>
            <div class="opperations__swiper-text">
              Його наша команда врятувала після російського ракетного обстрілу
              на початку березня 2023 року. Тоді ракета влучила у приватні
              будинки Донецької області і загинули п’ятеро людей. Лорд був
              собакою загиблих людей. Його перевезли до найближчого
              ветеринарного центру, де надали допомогу.
            </div>
          </div>
        </div>
        <div class="opperations__swiper-bottom"></div>
      </div>
      <div class="opperations__swiper-arrow">
        <button class="opperations__swiper-button">
          <img src="../../../../assets/img/orange-arrow-2.png" alt="" />
        </button>
      </div>
    </div>
  </div>
  <div class="partners">
    <div class="partners__title">Наші партнери</div>
    <div class="partners__text">
      Ми любимо наших партнерів, а вони люблять тварин, як і ми. Для нас велика
      шана співпрацювати з тими, хто підтримує нас та допомагають рятувати
      тварин від війни разом!
    </div>
    <div class="partners__images">
      <img
        src="../../../assets/img/icon-1.png"
        alt="icon"
        class="partners__img"
      />
      <img
        src="../../../assets/img/icon-1.png"
        alt="icon"
        class="partners__img"
      />
      <img
        src="../../../assets/img/icon-1.png"
        alt="icon"
        class="partners__img"
      />
      <img
        src="../../../assets/img/icon-1.png"
        alt="icon"
        class="partners__img"
      />
    </div>
    <div class="partners__button">
      <button class="partners__btn">Долучитись</button>
    </div>
  </div>
  <div class="guide">
    <div class="guide__title">Як подарувати нове життя?</div>
    <div class="guide__items">
      <div class="guide__images">
        <img
          src="../../../assets/img/dog-and-cat.png"
          alt="image"
          class="guide__images-big"
        />
        <img
          src="../../../assets/img/show-more-blue.png"
          alt="button"
          class="guide__images-small"
        />
      </div>
      <div class="guide__bullets">
        <div class="guide__bullet">
          <div class="guide__bullet-image">
            <img
              src="../../../assets/img/paw-icon.png"
              alt="icon"
              class="guide__bullet-img"
            />
          </div>
          <div class="guide__bullet-items">
            <div class="guide__bullet-title">
              Ознайомлення з тваринами для всиновлення
            </div>
            <div class="guide__bullet-text">
              Перегляньте каталог тварин на сайті. Ознайомтеся з інформацією про
              тварин.
            </div>
          </div>
        </div>
        <div class="guide__bullet">
          <div class="guide__bullet-image">
            <img
              src="../../../assets/img/paw-icon.png"
              alt="icon"
              class="guide__bullet-img"
            />
          </div>
          <div class="guide__bullet-items">
            <div class="guide__bullet-title">
              Заповнення анкети на прихисток
            </div>
            <div class="guide__bullet-text">
              Якщо ви знайшли тварину, яку хочете прихистити, заповніть анкету
              всиновлення.
            </div>
          </div>
        </div>
        <div class="guide__bullet">
          <div class="guide__bullet-image">
            <img
              src="../../../assets/img/paw-icon.png"
              alt="icon"
              class="guide__bullet-img"
            />
          </div>
          <div class="guide__bullet-items">
            <div class="guide__bullet-title">Відвідування тварини</div>
            <div class="guide__bullet-text">
              Вас запросять відвідати тварину в притулку або на тимчасовій
              перетримці. Це дозволить вам познайомитися з твариною ближче,
              побачити, як вона поводиться, і переконатися, що ви підходите одне
              одному.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="help">
    <div class="help__info">
      <div class="help__title">Я шукаю новий дім</div>
      <div class="help__more">Переглянути більше</div>
    </div>
    <div class="help__swiper">
      <div class="help__swiper-arrow">
        <button class="help__swiper-button">
          <img src="../../../assets/img/orange-arrow-1.png" alt="arrow" />
        </button>
      </div>
      <div class="help__swiper-items">
        <div class="help__swiper-item">
          <div class="help__swiper-image">
            <img
              src="../../../assets/img/cat-1.png"
              alt=""
              class="help__swiper-img"
            />
          </div>
          <div class="help__swiper-title">Еллі</div>
          <ul class="help__swiper-bullets">
            <li>Дівчинка</li>
            <li>Київ</li>
            <li>до 1 року</li>
          </ul>
          <div class="help__swiper-click">
            <button class="help__swiper-btn">Прихистити</button>
          </div>
        </div>
        <div class="help__swiper-item">
          <div class="help__swiper-image">
            <img
              src="../../../assets/img/dog-4.png"
              alt=""
              class="help__swiper-img"
            />
          </div>
          <div class="help__swiper-title">Джек</div>
          <ul class="help__swiper-bullets">
            <li>Хлопчик</li>
            <li>Львів</li>
            <li>4 роки</li>
          </ul>
          <div class="help__swiper-click">
            <button class="help__swiper-btn">Прихистити</button>
          </div>
        </div>
        <div class="help__swiper-item">
          <div class="help__swiper-image">
            <img
              src="../../../assets/img/dog-5.png"
              alt=""
              class="help__swiper-img"
            />
          </div>
          <div class="help__swiper-title">Чарльз</div>
          <ul class="help__swiper-bullets">
            <li>Хлопчик</li>
            <li>Київ</li>
            <li>до 1 року</li>
          </ul>
          <div class="help__swiper-click">
            <button class="help__swiper-btn">Прихистити</button>
          </div>
        </div>
      </div>
      <div class="help__swiper-arrow">
        <button class="help__swiper-button">
          <img src="../../../assets/img/orange-arrow-2.png" alt="arrow" />
        </button>
      </div>
    </div>
  </div>
</div>
