<div class="can-save">
	<div class="can-save__info">
		<p class="can-save__title">"Разом ми можемо врятувати життя!"</p>
		<p class="can-save__text">
			Ваш внесок допоможе нам рятувати тварин, які постраждали від війни,
			надавати їм лікування та знаходити нові домівки. Кожен донат – це крок
			до порятунку ще одного життя.
		</p>
		<button class="can-save__button">Допомогти тваринам</button>
	</div>
	<div class="can-save__image-container">
		<img class="can-save__image" src="/assets/img/image-1.png" alt="image" />
	</div>
</div>
