@import "colors";
.reg {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-flow: column nowrap;
  padding: 36px 24px 64px 24px;

  &__title {
    width: 100%;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: 500;
    margin-top: 20px;
    margin-bottom: 50px;
    cursor: default;
  }

  &__field {
    width: 400px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    margin-bottom: 32px;
    & input {
      width: 200px;
      height: 25px;
      border: 1px solid #000;
    }
  }

  &__label {
    margin-bottom: 16px;
    cursor: default;
  }

  &__buttons {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    margin-top: 24px;
  }
  &__button {
    margin-inline: 12px;
    font-size: 20px;
    background-color: $color-blue;
    font-weight: 600;
    padding: 4px 12px;
    border-radius: 50px;
  }
}
