<form class="reg" [formGroup]="regForm">
  <div class="reg__title">Registration</div>
  <div class="reg__field" appearance="outline">
    <p class="reg__label">Email</p>
    <input formControlName="email" type="email" />
  </div>
  <div class="reg__field" appearance="outline">
    <p class="reg__label">Password</p>
    <input formControlName="password" type="password" />
  </div>
  <div class="reg__field" appearance="outline">
    <p class="reg__label">Confirm password</p>
    <input formControlName="confirmPassword" type="password" />
  </div>
  <div class="reg__buttons">
    <button class="reg__button" mat-stroked-button (click)="submit()">Submit</button>
  </div>
</form>