$color-bg: #f8f8e8;
$color-transparent: rgba(0, 0, 0, 0);

// colors scheme picked up from figma
$color-bg-body: #f5f5dc;
$color-logo: #78a3ad;
$color-main-black: #000000;
$color-main-dark-blue: #1c2354; //button bg and main title
$color-btn-text: #f8f8f8;
$color-arrows: #283593;
$color-active: #c1121f;
$color-white: #ffffff;
$color-bg-input: #e0ecf4;
