$color-orange-red: rgb(255, 94, 0);
$color-orange-normal: rgb(255, 146, 0);
$color-pink: rgb(255, 133, 153);
$color-blue: rgb(97, 194, 255);
$color-gray-light: rgb(201, 201, 201);
$color-gray-medium: rgb(162, 162, 162);

// colors scheme picked up from figma
$color-bg-body: #f5f5dc;
$color-logo: #78a3ad;
$color-main-black: #000000;
$color-main-dark-blue: #1c2354; //button bg and main title
$color-btn-text: #f8f8f8;
$color-arrows: #283593;
$color-active: #c1121f;
$color-white: #ffffff;
$color-bg-input: #E0ECF4;
