$color-orange-red: rgb(255, 94, 0);
$color-orange-normal: rgb(255, 146, 0);
$color-pink: rgb(255, 133, 153);
$color-blue: rgb(97, 194, 255);
$color-gray-light: rgb(201, 201, 201);
$color-gray-medium: rgb(162, 162, 162);

// colors scheme picked up from figma
$color-bg-body: rgb(245, 245, 220);
$color-logo: rgb(120, 163, 173);
$color-black-main: rgb(0, 0, 0);
$color-main-dark-blue: rgb(28, 35, 84); //button bg and main title
$color-btn-text: rgb(248, 248, 248);
$color-arrows: rgb(40, 53, 147);
$color-active: rgb(193, 18, 31);
