$color-orange-red: rgb(255, 94, 0);
$color-orange-normal: rgb(255, 146, 0);
$color-pink: rgb(255, 133, 153);
$color-blue: rgb(97, 194, 255);
$color-gray-light: rgb(201, 201, 201);
$color-gray-medium: rgb(162, 162, 162);