<div class="join-team">
	<div class="join-team__wrapper">
		<div class="join-team__info">
			<p class="join-team__title">
				Бажаєш також доєднатись до команди, стати волонтером та рятувати життя
				нашим друзям?
			</p>
			<p class="join-team__text">
				Тисни “Долучитись” та зв’яжись з нами для уточнення всіх деталей. Ми
				чекаємо саме на тебе!
			</p>
		</div>
		<div class="join-team__image-container">
			<img class="join-team__image" src="/assets/img/image-2.png" alt="image" />
		</div>
		<div class="join-team__button-container">
			<button class="join-team__button">Долучитись</button>
		</div>
	</div>
</div>
