@import "colors";

:host {
  width: 100%;
}

.join-team {
  min-width: 1440px;
  height: 427px;
  position: relative;
  display: flex;
  justify-content: center;
  background-color: rgba(233, 232, 232, 0.82);

  &__wrapper {
    width: 1440px;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  &__info {
    flex-basis: 60%;
    display: flex;
    flex-flow: column nowrap;
    gap: 32px;
    padding-left: 88px;
  }

  &__title {
    width: 691px;
    font-size: 36px;
    font-weight: 500;
    line-height: 42.26px;
    color: $color-main-black;
    margin-top: 53px;
    font-family: "Raleway";
  }

  &__text {
    width: 769px;
    font-size: 24px;
    font-weight: 300;
    line-height: 33.6px;
    color: $color-main-black;
  }

  &__button-container {
    flex-basis: 100%;
    display: flex;
    justify-content: center;
  }

  &__button {
    display: flex;
    justify-content: center;
    width: 218px;
    height: 78px;
    padding: 20px;
    background-color: rgba(250, 167, 108, 1);
    color: rgba(25, 25, 25, 1);
    font-size: 32px;
    font-weight: 300;
    line-height: 37.92px;
    text-wrap: nowrap;
    border-radius: 16px;
  }

  &__image-container {
    flex-basis: 40%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 88px;
  }

  &__image {
    width: 413px;
    height: 235px;
  }
}
